.top-container {
  display: flex;
  width: 100vw;
}

.generate-container {
  width: 30%;
  border: 1px solid #000;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generate-palette {
  display: flex;
  flex-direction: column;
  width: 78%;
}

.new-palette {
  margin-top: 30px;
}

.save-palette {
  display: flex;
  flex-direction: column;
}

.palette-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid #000;
  height: 600px;
}

.projects-container {
  width: 100vw;
  border: 1px solid #000;
  height: 300px;
}

.project-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-color {
  width: 100%;
  height: 142px;
  border: 1px solid #000;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.palette-color p {
  margin-right: 10px;
}
